@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.main-header{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}

.main-header h1{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-header img{
    width: auto ;
    padding: 10px;
    cursor: pointer;
}

.main-header .nav-bar{
    width: 100%;
}

.main-header .nav-bar ul{
    display: flex;
    height: 70px;
    list-style: none;
    gap: 3em;   
    justify-content: center;
    align-items: center;
}

.main-header .nav-bar ul li{
    font-size: large;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.main-header .nav-bar ul li a{
    text-decoration: none;
    color: inherit;
}

.main-header .nav-bar ul li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: all .3s linear;
}

.main-header .nav-bar ul li a:hover::after{
    width: 100%;
}


.main-header .nav-bar ul li:nth-of-type(1){
    margin-left: auto;
}
.main-header .nav-bar ul li:nth-of-type(4){
    margin-left: auto;
}

/*******************************************************************************************************************************/
/*                                                 NavBar Completed                                                            */
/*******************************************************************************************************************************/

.section-one{
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
    display: flex;
}
.section-one-left{
    width: 50%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.section-one-left-heading{
    font-size: 48px;
}

.section-one-left-text{
    width: 70%;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.section-one-left .email-us{
    display: flex;
    width: 50%;
}

.section-one-left .email-us .btn-apply{
    width: 70px;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 8px;
    color: white;
    border: none;
    background-color: rgb(63, 61, 86);
    transition: all 0.3s linear ;
    cursor: pointer;
}

.section-one-left .email-us .btn-apply:hover{
    border: none;
    border: 3px solid rgb(63, 61, 86);
    font-weight: bolder;
    transform: translateY(-2px);
    transform: scale(1.05);
}




.section-one-left .email-us .enter-email{
    border: none;
    width: 80%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #d6d6d6;
    outline: none;
}

.section-one .email-us .enter-email::placeholder{
    color: #222;
}

.section-one .email-us .enter-email:focus::placeholder{
    color: transparent;
    transition: color 0.2s ease-in-out;
}

.section-one-right{
    width: 50%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-right img{
    width: 80%;
}

.see-more{
    position: absolute;
    left: 44.5%;
    bottom: 10%;
    width: 150px;
    padding: 7px 20px;
    border: 2px solid black;
    border-radius: 35px;
    box-shadow: inset 0 0 0 0 rgb(63, 61, 86);
    cursor: pointer;
    transition: all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    animation: animate 3s ease infinite;
}

@keyframes animate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

.see-more span{
    font-size: 18px;
    font-weight: bolder;
}

.see-more:hover {
    color: white;
    border: transparent;
    box-shadow: inset 152px 0 0 1px rgb(63, 61, 86);
}

/*******************************************************************************************************************************/
/*                                            Section-One Completed                                                            */
/*******************************************************************************************************************************/


.section-two{
    height: calc(100vh - 70px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.section-two h1{
    text-align: center;
    color: rgb(89, 0, 124);
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-two-area{
    width: 100%;
    height: 100%;
}

.card-area-one , .card-area-two{
    width: 100%;
    height: 50%;
    display: flex;
}

.cards{
    height: 90%;
    border: none;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.cards:hover{
    transform: scale(1.1);
}

.cards i{
    color: #000;
    font-size: 3em;
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 50%;
    transition: all 1s linear;
}

.cards i:hover{
    transform: rotate(360deg);
}

.cards .card-heading{
    font-size: 20px;
    font-weight: 900;
}

.cards .introOfSkill{
    font-weight: 700;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
}

.card-area-one .cards:nth-of-type(1){
    background-color: #EB1D36;
}
.card-area-one .cards:nth-of-type(2){
    background-color: #FFDE00;
}
.card-area-one .cards:nth-of-type(3){
    background-color: #C3F8FF;
}

.card-area-two .cards:nth-of-type(1){
    background-color: #3D8361;
}
.card-area-two .cards:nth-of-type(2){
    background-color: #dddddd;
}
.card-area-two .cards:nth-of-type(3){
    background-color: #0F3460;
}






























