@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.main-header{
    display: flex;
    width: 100%;
    height: 70px;
}

.main-header h1{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-header img{
    width: auto;
    padding: 10px;
    cursor: pointer;
}

.main-header .nav-bar{
    width: 100%;
}

.main-header .nav-bar ul{
    display: flex;
    height: 70px;
    list-style: none;
    gap: 3em;   
    justify-content: center;
    align-items: center;
}

.main-header .nav-bar ul li{
    font-size: large;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.main-header .nav-bar ul li a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s linear;
}

.main-header .nav-bar ul li:nth-of-type(1){
    margin-left: auto;
}
.main-header .nav-bar ul li:nth-of-type(4){
    margin-left: auto;
}

/*******************************************************************************************************************************/
/*                                                 NavBar Completed                                                            */
/*******************************************************************************************************************************/

.section-one{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}
.section-one-left{
    width: 50%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.section-one-left-heading{
    font-size: 48px;
}

.section-one-left-text{
    width: 70%;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.section-one-left .email-us{
    display: flex;
    width: 50%;
}

.section-one-left .email-us .btn-apply{
    width: 70px;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 5px;
    box-shadow: inset 0 0 0 0 rgb(63, 61, 86);
    transition: all 0.3s linear ;
}

.section-one-left .email-us .btn-apply:hover{
    border: none;
    color: white;
    box-shadow: inset 70px 0 0 0 rgb(63, 61, 86);
}




.section-one-left .email-us .enter-email{
    border: none;
    width: 80%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #d6d6d6;
    outline: none;
}

.section-one .email-us .enter-email::placeholder{
    color: #222;
}

.section-one .email-us .enter-email:focus::placeholder{
    color: transparent;
    transition: color 0.2s ease-in-out;
}

.section-one-right{
    width: 50%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-right img{
    width: 100%;
}
































